body{
    width: 100%;
    padding: 4vmax;
    border-radius: 14px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 0, 0.207);
    cursor: pointer;
    transition: 10s;
    overflow: hidden;
}
.textarea{
    border-bottom-color: rgba(255, 255, 0, 0.207);
    border-color: blue;
    margin: 10px auto; /*as per your preferences*/
        height: 500px;
        width: 600px;
        border: 2px solid crimson;
        animation-name: example;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }
    @keyframes example{
        0%{
          background-image: url(Image/1.jpg);
          background-repeat: no-repeat;
          background-size: cover;
        }
        25%{
          background-image: url(image/2.jpg);
          background-repeat: no-repeat;
          background-size: cover;
        }
        50%{
          background-image: url(image/3.jpg);
          background-repeat: no-repeat;
          background-size: cover;
        }
        75%{
          background-image: url(image/4.jpg);
          background-repeat: no-repeat;
          background-size: cover;
        }
        100%{
          background-image: url(image/5.jpg);
          background-repeat: no-repeat;
          background-size: cover;
        }
     }
